<h1 class="title is-1">A brief, yet interesting history</h1>
<hr>

<p>
  I live in Seattle, Washington which rains nearly as much as
  <%= link_to 'Wellington, New Zealand', 'https://en.climate-data.org/oceania/new-zealand/wellington/wellington-2/',
                                                                            target: 'blank', style: 'color:#7A7A7A;' %>
  where I'm from. I like that in Seattle, it isn't so windy that it sometimes rains up. I guess that's why they call it
  <span class="tooltip">"Windy Wellington".
    <span class="tooltipimage">
      <%= image_tag 'wellington.jpg', alt: 'Wellington Sign', style: 'border-bottom:none;' %>
    </span>
  </span>
</p>
<br>

<p>
  Like so many people, I worked jobs and then I decided to go to a coding bootcamp. I graduated from
  <%= link_to 'Enspiral Dev Academy', 'https://devacademy.co.nz', target: 'blank' %>
  in late 2015 and then I worked there as a teachers assistant which was great fun.
</p>
<br>

<p>
  I have spent the last nearly 3 years in the US immigration process which was frustrating but
  and I am now a proud holder of a work authorisation! To keep myself occupied during the immigration wait,
  I worked on various coding projects and spent
  <span class="tooltip"> nearly 500 hours
    <span class="tooltipspca">
      <%= image_tag 'SPCA.png', alt: 'SPCA Volunteer Record' %>
    </span>
  </span>
  playing with dogs at the
  <%= link_to 'San Francisco SPCA', 'https://www.sfspca.org', target: 'blank' %> because dogs are awesome.
  I also Project Managed the shit out of the
  <%= link_to 'Marin Cricket Clubs', 'https://www.marincricketclub.com/', target: 'blank' %> Social Cricket Program.
  I played for them when I lived in the Bay Area, built them software to automate weekly tasks,
  improved player engagement, increased membership numbers and club revenue.
  During the Corona Virus lockdown, I rebuilt the site from scratch, added tons of new functionality and so it could use Rails 6 and take
  advantage of Webpack. It is easily the best thing I have made.
</p>
<br>

<p>
  I also organised a cricket tour for 25 people through New Zealand in January of 2020. The Bay
  Area Beavers played 10 games against various clubs around New Zealand and had the time of their lives!
</p>

<%= render 'shared/socials' %>

<%= javascript_pack_tag 'modal' %>
