<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <% if current_page?(about_path) %>
        <%= render 'static_pages/partials/organic_chemistry' %>
      <% else %>
        <%= link_to image_tag('red.png', alt: "Red Hendery's Face"), root_path, class: 'image is-64x64' %>
      <% end %>
      <%= link_to 'Red Hendery', root_path, class: 'navbar-item has-text-white is-size-3 has-text-weight-bold' %>
      <span class="navbar-burger burger has-text-white" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>

    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end is-size-5 has-text-weight-bold">
        <%= link_to 'About', about_path, class: 'navbar-item has-text-white' %>
        <%= link_to 'Contact', contact_index_path, class: 'navbar-item has-text-white' %>
        <%= link_to 'Portfolio', portfolio_path, class: 'navbar-item has-text-white' %>
        <%= link_to 'See This Code!', 'https://github.com/redhendery/portfolio', target: 'blank', class: 'navbar-item has-text-white' %>
      </div>
    </div>
  </div>
</nav>

<%= javascript_pack_tag 'navbar' %>
